<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">プロトタイプ編集</h2>
      <%# 部分テンプレートでフォームを表示する %>
      <%# <%= render partial: "from", locals: { prototype: @prototype } %> %>
      <%= render partial: "form", locals: { prototype: @prototype } %>
      
      <%# 以下試しのため配置 %>
      <%# <%= render partial: "prototype", locals: { prototype: @prototype } %> 
    
    </div>
  </div>
</div>